# Python gitignore
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Project specifics
.env
.idea/
.vscode/
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
.coverage

# Logs
*.log

# OS specifics
.DS_Store
Thumbs.db
